@{
    ViewBag.Title = "Index";
}

<h1 class="h1">Вас приветствует редактор экспертной системы</h1>
<h1 class="h1 submit-active">@Html.ActionLink("Приступить к редактированию", "CreateSystem", "Editor")</h1>
